<section id="come-say-hi">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Come Say Hi</h2>
                    <h3 class="section-subheading text-muted">We use Slack to get coding help, talk about events, and share files. All you need to join is a UO email address.</h3>
                </div>
            </div>
            <div class="row">
                  <div class="col-lg-12 text-center">
                      <a href="https://uorclub.slack.com" class="btn btn-xl">Talk To Us</a>
                  </div>
            </div>
        </div>
    </section>
